    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }

    #BG1 {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100vw;
      height: 100vh;
      background-color: #46f7fa;
      z-index: 1;     
    }

      #cube {
    width: 60px;
    height: 60px;
    background: cyan;
    z-index: 2;      
  }
