    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }

    #BG1 {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100vw;
      height: 100vh;
      background-color: #46f7fa;
      z-index: 1;     
    }

   #cloud {
  position: absolute;
  width: 70px;
  height: 26px;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 20px;
}

#cloud::before,
#cloud::after {
  content: "";
  position: absolute;
  background: white;
  border-radius: 50%;
}

/* left puff */
#cloud::before {
  width: 30px;
  height: 30px;
  top: -14px;
  left: 8px;
}

/* right puff */
#cloud::after {
  width: 34px;
  height: 34px;
  top: -18px;
  right: 6px;
}
