    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }

button {
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-color: #ff9b44;
}

.play {
  position: absolute;
  top: 50vh;
  left: 20px;

  background-color: #ff7700;
  font-family: 'Luckiest Guy', cursive;
  font-size: 28px;

  padding: 6px 14px;

  display: flex;
  align-items: center;
  justify-content: center;



  z-index: 2;
}

.play span {
  position: relative;
  top: 2px;   /* 👈 adjust 1–3px */
}


    #BG1 {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100vw;
      height: 100vh;
      background-color: #46f7fa;
      z-index: 1;     
    }

#cloud {
  position: absolute;
  width: 210px;
  height: 78px;
  top: 18vh;
  right: 9vw;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 60px;
  z-index: 2;
}

#cloud::before,
#cloud::after {
  content: "";
  position: absolute;
  background: white;
  border-radius: 50%;
}

/* left puff */
#cloud::before {
  width: 90px;
  height: 90px;
  top: -42px;   /* -14 × 3 */
  left: 24px;   /* 8 × 3 */
}

/* right puff */
#cloud::after {
  width: 102px;
  height: 102px;
  top: -54px;   /* -18 × 3 */
  right: 18px;  /* 6 × 3 */
}

#beanimg {
  position: absolute; /* or relative, fixed */
  top: 50vh;
  left: 50vw;
  z-index: 2;
}
