    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }

    #BG1 {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100vw;
      height: 100vh;
      background-color: #46f7fa;
      z-index: 1;     
    }

      #cube {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    z-index: 2;      
  }
